body{
    background-color: rgb(233, 210, 210);
    margin: 100px;
}
h1{
    text-align: center;

    color: darkslateblue;
    background-color: chartreuse;
    padding: 20 40 90;
}
p{
    
    color: cornflowerblue;
    background-color: darkkhaki;
    margin-top: 30px;
    padding: 90;
}